h1,
p {
  font-family: Lato;
}

.strike {
  text-decoration: line-through;
}


.todo-wrapper {
  font-size: 16px;
  padding: 5px 0px;
  cursor: pointer;
  border-bottom: 1px solid grey;
  user-select: none;
  display: flex;
}

.todo {
  flex: 1;
}

.remove {
  padding: 0 5px;
}